:root {
  --tg-theme-bg-color: #FFFFFF;
  --tg-theme-secondary-bg-color: #F1F1F1;
  --tg-theme-text-color: #222222;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #536A89;
  --tg-theme-button-color: #687B98;
  --tg-theme-button-color-light: color-mix(in srgb, var(--tg-theme-button-color) 60%, white);
  --tg-theme-button-text-color: #FFFFFF;
  --tg-theme-header-bg-color: #FFFFFF;
  --tg-theme-accent-text-color: #536A89;
  --tg-theme-section-bg-color: #FFFFFF;
  --tg-theme-section-header-text-color: #536A89;
  --tg-theme-subtitle-text-color: #999999;
  --tg-theme-destructive-text-color: #D14E4E;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--tg-theme-text-color);
  @apply font-sans text-base;
}

/* Background color — used as the content background */
.tg-bg {
  background-color: var(--tg-theme-bg-color);
}

/* Secondary background color — used as the background color of the webapp */
.tg-secondary-bg {
  background-color: var(--tg-theme-secondary-bg-color);
}

/* Horizontal padding of the content blocks */
.tg-content {
  @apply relative px-5;
}

.tg-section-bg {
  background-color: var(--tg-theme-section-bg-color);
}

/* Used as title of panels */
.tg-title {
  color: var(--tg-theme-section-header-text-color);
  @apply text-sm font-medium;
}

a,
.tg-link {
  color: var(--tg-theme-link-color);
}


.tg-primary {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
.tg-hint {
  color: var(--tg-theme-hint-color);
}
.tg-accent {
  color: var(--tg-theme-accent-text-color);
}
.tg-danger {
  color: var(--tg-theme-destructive-text-color);
}

.tg-button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
.tg-button-danger {
  background-color: var(--tg-theme-destructive-text-color);
  color: var(--tg-theme-button-text-color);
}

.tg-text {
  color: var(--tg-theme-text-color);
}
.tg-button-text {
  color: var(--tg-theme-button-text-color);
}

.tg-list .tg-list-item {
  @apply px-5 py-3;
}

.tg-divider {
  @apply border-b border-gray-300 dark:border-slate-700;
}

.tg-border {
  border-color: var(--tg-theme-secondary-bg-color);
}
.tg-border.active {
  border-color: var(--tg-theme-link-color);
}
